*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
    font-size: 62.5%;
}

#header {
    background-image: url(./imagenes/Foto\ Home.png);
    background-size: cover;
    width: 100%;
    height: 70rem;
    font-size: 2rem;
}
/* ajustando el tamaño del logo de martivans*/
.navbar-brand img {
    width: 17rem;
    height: 18.7rem;
    margin-left: 5rem;
    
}
/*Estilos de los elementos de la barra de navegacion*/
.nav-item {
    margin: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}

.navbar-nav {
    margin-right: 2rem;
}
/* Agregando margin y padding al contenedor (text-form) que contiene el texto informativo
y el formulario del header*/
.text-form {
    padding-top: 6rem;
    padding-left: 8rem;
       
}
.text-form h1 {
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 4.5rem;
}

.text-form p {
    /*Estilos del texto informativo*/
    font-size: 1.7rem;
    font-family: "Lato",sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.667;
    padding-top: 1rem;
}
/*Estilos del boton EMPEZAR*/
.text-form button {
    font-size: 2rem;
    color: white;
    width: 18rem;
    font-family: 'Oswald', sans-serif;
}

.alquiler_campers_caravanas {
    color: white;
    height: 38rem;
    padding-top: 2rem;
}
.alquiler_campers_caravanas h2 {
    color: black;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    line-height: 1.2;
    text-align: left;
    z-index: 113;
}

.formulario {
    background-color:white;
    margin-left: 15.5rem;
}
.formulario span {
    color: black;
    font-size: 1.2rem;
}

/* Cambiando el tamanno a los checkbox*/
.checkbox .form-check {
    font-size: 1.1rem;
    color: black; 
}

.checkbox {
    padding-bottom: 2rem;
}

/* Dandole estilos al boton buscar del formulario*/
.boton_buscar .btn {
    width: 36.8rem;
    font-family: 'Oswald', sans-serif;
}

.alquilar {
    width: 15rem;
    color: white;
    font-size: 1.8rem;
    margin-left: 8rem;
}
 #carousel h3 {
     margin-left: 10rem;
 }
 
 #alquiler-de-autocaravanas {
    background-image: url(./imagenes/Foto\ medio.png);
    background-size: 100%;
    width: 100%;
    height: 50rem;
 }

