*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
    font-size: 62.5%;
}

#header {
    background-image: url(./imagenes/Foto\ Home.png);
    background-size: cover;
    width: 100%;
    height: 70rem;
    font-size: 2rem;
}
/*Cada ajustando el tamaño del logo de martivans*/
.navbar-brand img {
    width: 17rem;
    height: 18.7rem;
    margin-left: 5rem;
    
}
/*Estilos de los elementos de la barra de navegacion*/
.nav-item {
    margin: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}

.navbar-nav {
    margin-right: 2rem;
}

.text-form {
    padding-top: 8rem;
    padding-left: 8rem;
       
}
.text-form h1 {
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 4.5rem;
}

.text-form p {
    font-size: 1.7rem;
    font-family: "Lato",sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.667;
    padding-top: 1rem;
}
.text-form button {
    font-size: 2rem;
    color: white;
    width: 18rem;
}

.alquiler_campers_caravanas {
    color: white;
}
